/* -------------------------------------------------- */
/* Ghost modification                                 */
/* -------------------------------------------------- */
.button_ghost {
  /* Colors*/
  --button-background-color: transparent;
}

/* -------------------------------------------------- */
/* Hover condition                                    */
/* -------------------------------------------------- */
.button_ghost:hover {
  /* Colors*/
  --button-background-color: inherit;
}

/* -------------------------------------------------- */
/* Focus condition                                    */
/* -------------------------------------------------- */
.button_ghost:focus {
  /* Colors*/
  --button-background-color: inherit;
}

/* -------------------------------------------------- */
/* Active condition                                   */
/* -------------------------------------------------- */
.button_ghost:active {
  /* Colors*/
  --button-border-color: rgb(220, 220, 220);
  --button-color: rgb(0, 0, 0);
  --button-background-color: rgb(220, 220, 220);
}
