/* -------------------------------------------------- */
/* Variables with defaults                            */
/* -------------------------------------------------- */
:root {
  /* Box */
  --button-padding-vertical: 10px;
  --button-padding-horizontal: 20px;
  --button-border-radius: 2px;
  --button-border-width: 1px;

  /* Typographic */
  --button-font-size: inherit;
  --button-font-weight: normal;
  --button-font-family: inherit;
  --button-line-height: 100%;

  /* Colors */
  --button-border-color: rgb(180, 180, 180);
  --button-color: rgb(0, 0, 0);
  --button-background-color: rgb(180, 180, 180);
}

/* -------------------------------------------------- */
/* Appearance                                         */
/* -------------------------------------------------- */
.button {
  /* Box */
  box-sizing: border-box;
  border-width: var(--button-border-width);
  border-style: solid;
  border-radius: var(--button-border-radius);
  padding-top: var(--button-padding-vertical);
  padding-right: var(--button-padding-horizontal);
  padding-bottom: var(--button-padding-vertical);
  padding-left: var(--button-padding-horizontal);

  /* Typographic */
  font-size: var(--button-font-size);
  font-style: normal;
  font-weight: var(--button-font-weight);
  font-family: var(--button-font-family);
  line-height: var(--button-line-height);
  text-align: center;
  white-space: nowrap;

  /* Colors */
  border-color: var(--button-border-color);
  color: var(--button-color);
  background-color: var(--button-background-color);

  /* Stuff */
  display: inline-block;
  position: relative;
  user-select: none;
}
.button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
.button:link,
.button:visited {

  /* Colors*/
  color: var(--button-color);

  /* Stuff */
  text-decoration: none;
}

/* -------------------------------------------------- */
/* Hover condition                                    */
/* -------------------------------------------------- */
.button:hover {
  /* Colors*/
  --button-border-color: rgb(200, 200, 200);
  --button-color: rgb(0, 0, 0);
  --button-background-color: rgb(200, 200, 200);
}

/* -------------------------------------------------- */
/* Focus conditions                                   */
/* -------------------------------------------------- */
.button:focus {
  /* Colors*/
  --button-border-color: rgb(200, 200, 200);
  --button-color: rgb(0, 0, 0);
  --button-background-color: rgb(200, 200, 200);
}

/* -------------------------------------------------- */
/* Active condition                                   */
/* -------------------------------------------------- */
.button:active {
  /* Colors*/
  --button-border-color: rgb(220, 220, 220);
  --button-color: rgb(0, 0, 0);
  --button-background-color: rgb(220, 220, 220);
}
