/* -------------------------------------------------- */
/* Large size modification                            */
/* -------------------------------------------------- */
.button_large {
  /* Box */
  --button-padding-vertical: 12px;
  --button-padding-horizontal: 24px;
  --button-border-radius: 2px;

  /* Typographic */
  --button-font-size: 120%;
}
