/* -------------------------------------------------- */
/* Large size modification                            */
/* -------------------------------------------------- */
.button_large {

  /* Box */
  --button-border-width: inherit;
  --button-border-radius: inherit;
  --button-padding-top: 12px;
  --button-padding-right: 24px;
  --button-padding-bottom: 12px;
  --button-padding-left: 24px;

  /* Typographic */
  --button-font-size: 120%;
  --button-line-height: 120%;
}
